<form>
  <hr>
  <tabset>
    <tab heading="Fraternidade">

      <div class="form-group-col-md-12">
        <Label>CEP:</Label>
        <input type="text" class="form-control">
      </div>

      <div class="form-row">
        <!--SEPARATOR-->
        <div class="form-group col-md-6">
          <br>
          <label for="">Fraternidade:</label>
          <input type="text" class="form-control" placeholder="(Nome da fraternidade)">
        </div>
        <!--SEPARATOR-->
        <div class="form-group col-md-6">
          <br>
          <label for="">Voluntário:</label>
          <input type="text" class="form-control" placeholder="(Nome da fraternidade)">
        </div>
        <!--SEPARATOR-->
      </div>
      <div class="form-row">
        <!--SEPARATOR-->
        <div class="form-group col-md-6">
          <br>
          <label for="">Rua:</label>
          <input type="text" class="form-control" placeholder="(Nome da fraternidade)">
        </div>
        <!--SEPARATOR-->
        <div class="form-group col-md-6">
          <br>
          <label for="">Número:</label>
          <input type="text" class="form-control" placeholder="(Nome da fraternidade)">
        </div>
      </div>
      <!--SEPARATOR-->

      <!--SEPARATOR-->
      <div class="form-row">
        <div class="form-group col-md-6">
          <br>
          <label for="">Bairro:</label>
          <input type="text" class="form-control" placeholder="(Nome da fraternidade)">
        </div>
        <!--SEPARATOR-->
        <div class="form-group col-md-6">
          <br>
          <label for="">Cidade:</label>
          <input type="text" class="form-control" placeholder="(Nome da fraternidade)">
        </div>
        <!--SEPARATOR-->
      </div>
      <div class="form-row">
        <!--SEPARATOR-->
        <div class="form-group col-md-6">
          <br>
          <label for="">Estado:</label>
          <input type="text" class="form-control" placeholder="(Nome da fraternidade)">
        </div>
        <!--SEPARATOR-->
        <div class="form-group col-md-6">
          <br>
          <label for="">Complemento:</label>
          <input type="text" class="form-control" placeholder="(Nome da fraternidade)">
        </div>
        <!--SEPARATOR-->
      </div>

    </tab>

    <tab heading="Voluntário">

    </tab>
  </tabset>
</form>
