<app-title [title]="title"></app-title>
<hr>
<div class="form-inline col-md-12">
    <a class="form-group col-md-1"></a>

    <div class="form-group">

        <label class="fas fa-search fa-2x">&nbsp; &nbsp;</label>
        <input type="text" class="form-control" placeholder="Busca por bairro." [(ngModel)]="filterList">
        <h3>&nbsp;{{filterList}}</h3>
    </div>
    <a class="form-group col-md-6"></a>
</div>


<table class="table table-striped">
    <thead thead-light>
        <tr>
            <th>
                BAIRRO:
            </th>
            <th>
                DATA:
            </th>
            <th>
                FRATERNIDADE:
            </th>
            <th>
                RESPONSÁVEL:
            </th>
            <th>
                CONTATO:
            </th>
        </tr>
    </thead>
    <tbody *ngFor="let camps of CampaignsByFraternityId">
        <td>
            {{camps.neighborhood}}
        </td>
        <td>
            {{camps.date | DateTime}}
        </td>
        <td>
            {{camps.fraternity.name}}
        </td>
        <td>
            {{camps.fraternity.user.userName}}
        </td>
        <td>
            {{camps.fraternity.user.phoneNumber}}
        </td>
        <td>
            <div class="btn-group">


                <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Toggle collapse
                </button>
                <hr>
                <div id="collapseBasic" [collapse]="isCollapsed">
                    <div class="well well-lg card card-block card-header">Some content</div>
                </div>



                <button class="btn btn-sm btn-info fa fa-edit" tooltip="Editar Campanha.">
                </button>
            </div>
        </td>
    </tbody>
</table>

<!--Large modal-->
